@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: hsl(222, 26%, 31%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calc-container {
  margin: 15px 15px 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(223, 31%, 20%);
}

h1 {
  margin: 15px 0;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}

.display {
  width: 280px;
  min-height: 100px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
}

/* .display .previous-operand {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}

.display .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
} */

.display .top-display {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}

.display .bottom-display {
  color: rgba(255, 255, 255, 1);
  font-size: 2.4rem;
}

.keypad {
  gap: 8px;
  display: grid;
  grid-template-rows: repeat(5, 4rem);
  grid-template-columns: repeat(4, 4rem);
}

.keypad > button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.keypad > button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.span-two {
  grid-column: span 2;
}

.footer {
  color: rgba(255, 255, 255, 1);
}
